#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;

  --main-font: 'Poppins', sans-serif;
  --main-color: rgb(211, 83, 8);
  --second-color: rgb(212, 141, 99);
  --third-color: rgb(234, 208, 192);
  --words-color: rgb(58, 58, 58);
  --header-words: rgb(235, 220, 220);
  --background-color: rgb(11, 10, 10);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
